<?xml version="1.0" encoding="utf-8"?>
<manifest package="co.lateralview.interviewtest"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.BlinksApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity">
        </activity>
        <activity android:name=".ui.activity.CommentsActivity">
        </activity>
        <activity android:name=".ui.activity.AddThreadActivity">
        </activity>
        <activity
            android:name=".ui.activity.AddCommentActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".ui.activity.WebViewActivity">
        </activity>
        <activity android:name=".ui.activity.SignUpActivity">
        </activity>
    </application>

</manifest>
